.rightBar{
	position: fixed;
	left: 50%;
	bottom: 100px;
	display: none;
	z-index: 101;
	margin-left: 610px;
	height: 144px;
	li{
		width: 48px;
		height: 48px;
		cursor: pointer;
	}
}
.rightBar-serve{
	display: none;
	background: url("http://static.biyao.com/pc/common/img/master/rightBar-serve.png?v=biyao_7628a55") 0 center no-repeat;
	&:hover{
		background: url("http://static1.biyao.com/pc/common/img/master/rightBar-serveActive.png?v=biyao_8d8893c") 0 center no-repeat;
	}
	a{
		display: block;
		height: 100%;
	}
}
.rightBar-phone{
	display: none;
	background: url("http://static3.biyao.com/pc/common/img/master/rightBar-phone.png?v=biyao_1a50895") 0 center no-repeat;
	&:hover{
		background: url("http://static4.biyao.com/pc/common/img/master/rightBar-phoneActive.png?v=biyao_75dfab4") 0 center no-repeat;
	}
}
.rightBar-share{
	display: none;
	background: url("http://static2.biyao.com/pc/common/img/master/rightBar-share.png?v=biyao_c772a8c") 0 center no-repeat;
	&:hover{
		background: url("http://static3.biyao.com/pc/common/img/master/rightBar-shareActive.png?v=biyao_2def371") 0 center no-repeat;
	}
}
.rightBar-code{
	position: relative;
	background: url("http://static4.biyao.com/pc/common/img/master/rightBar-code.png?v=biyao_b5f91da") 0 center no-repeat;
	&:hover{
		background: url("http://static.biyao.com/pc/common/img/master/rightBar-codeActive.png?v=biyao_4688a55") 0 center no-repeat;
	}
	&:hover div{
		display: block;
	}
	div{
		position: absolute;
		top: -65px;
		left: -310px;
		display: none;
		width: 301px;
		border-radius: 4px;
		box-shadow: 0 1px 10px 4px rgba(0,0,0,0.05);
		background: #fff;
	}
	span{
		position: absolute;
		top: 50%;
		right: -15px;
		z-index: 100;
		display: inline-block;
		width: 15px;
		height: 30px;
		margin-top: -14px;
		background: url("http://static3.biyao.com/pc/common/img/master/right-triangle.png?v=biyao_1b66210") no-repeat;
		background-size: 100% 100%;
	}
	dl{
		float: left;
		padding: 10px;
	}
	dt{
		width: 130px;
		height: 130px;
		background: url("http://static.biyao.com/pc/common/img/master/app.png?v=biyao_42175f7") center center no-repeat;
		background-size: 100% 100%;
	}
	dd{
		margin-top: 10px;
		text-align: center;
		color: #523669;
		font-size: 14px;
	}
	.code-public{
		padding: 4px 4px 10px 4px;
		dt{
			width: 143px;
			height: 143px;
			background: url("http://static2.biyao.com/pc/common/img/master/wxCode.jpg?v=biyao_79ba7c9") center center no-repeat;
			background-size: 100% 100%;
		}
		dd{
			margin-top: 3px;
		}
	}
}
.rightBar-top{
	display: none;
	background: url("http://static1.biyao.com/pc/common/img/master/rightBar-top.png?v=biyao_f0bb946") 0 center no-repeat;
	&:hover{
		background: url("http://static2.biyao.com/pc/common/img/master/rightBar-topActive.png?v=biyao_7abc224") 0 center no-repeat;
	}
}